.post-list::-webkit-scrollbar-track
{
    border: none;
    background-color: #ffffff;
}

.post-list::-webkit-scrollbar
{
    width: 5px;
    background-color: #ffffff;
}

.post-list::-webkit-scrollbar-thumb
{
    background-color: #cbd5e0;
}


.contentComponent::-webkit-scrollbar-track
{

    background-color: #ffffff;
}

.contentComponent::-webkit-scrollbar
{
    width: 5px;
    background-color: #ffffff;
}

.contentComponent::-webkit-scrollbar-thumb
{
    background-color: #cbd5e0;
}
